<!DOCTYPE html>

<html ng-app>
<head>
    <title>Redirector</title>
</head>
    <body>
        <div ng-controller="LinksCtrl">
            <p>Currently there are {{links.length}} links defined.</p>
            <p>Actions:
                <input type="button" value="Add new link" ng-click="new()"/>
                <input type="button" value="Refresh" ng-click="fetchLinks()"/>
            </p>
            <ul>
                <li ng-repeat="link in links">{{link.Alias}} ({{link.Visits.length}} visits) (<a target="_blank" href="r/{{link.Alias}}">visit</a>) (<a target="_blank" href="{{link.Target}}">open target</a>)</li>
            </ul>
        </div>
    </body>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="~/Scripts/app/home.js"></script>
</html>
