<!DOCTYPE html>

<html ng-app>
<head>
    <title>Redirector</title>
</head>
    <body>
        <div ng-controller="LinksCtrl">
            <p>Currently there are {{links.length}} links defined.</p>
            <p>Actions:
                <button ng-click="new()" ng-show="!addingNew">Add new link</button>
                <button ng-click="hideNew()" ng-show="addingNew">(hide new form)</button>
                <button ng-click="fetchLinks()">Refresh</button>
            </p>
            <form name="newLinkForm" ng-show="addingNew">
                <p>add new link:</p>
                <p>
                    alias: <input type="text" name="alias" ng-model="newLink.Alias" required/>
                    <span ng-show="newLinkForm.alias.$error.required">*</span>
                </p>
                <p>
                    target: <input type="url" name="target" ng-model="newLink.Target" required/>
                    <span ng-show="newLinkForm.target.$error.required">*</span>
                    <span ng-show="newLinkForm.target.$error.url">invalid url</span>
                </p>
                <button ng-click="save()" ng-disabled="newLinkForm.$invalid">Save</button>
                <button ng-click="clearNew()">Clear</button>
            </form>
            <ul>
                <li ng-repeat="link in links">{{link.Alias}} ({{link.Visits.length}} visits) [<a href="#" ng-click="delete(link.Id, $event)">x</a>]
                    (<a target="_blank" href="r/{{link.Alias}}" ng-click="fetchLinks_delayed()">visit</a>)
                    (<a target="_blank" href="{{link.Target}}">open target</a>)
                </li>
            </ul>
        </div>
    </body>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="~/Scripts/app/home.js"></script>
</html>
