<!DOCTYPE html>

<html>
<head>
    <title>Redirector - login</title>
</head>
<body>
    <fieldset title="Login">
        <legend>Login:</legend>
        <a href="/authentication/redirect/Google">Google</a>
    </fieldset>
</body>
</html>
